html{
    text-align: left;
    color: burlywood;
    /* background-color: black; */
}
/* *{
    background-color:aliceblue;
} */
.class 
{
    border-radius: 40px;
    box-shadow: 0 2px 5px red;
    height:100px;
    width:100px; 
    margin: 15 px 20 px 30 px;
    color:chartreuse;
    
}
div,p{
    color:blue;
}
div p{
    font-size:30 px;
}
div h2 div h3{
    font-weight:700;
    color: black;
}
#id{



}
#id2{
    

}